<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In With Spotify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Log In With Spotify</h1>
    </header>

    <main>
        <div class="login-container">
            <div class="login-box">
                <a class="login-btn" href="{{ url_for('login_with_spotify') }}">Log In With Spotify</a>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Shamsound. All rights reserved.</p>
    </footer>
    
    <a href="{{ url_for('search') }}">Search Songs</a> <!-- Add this line -->
</body>
</html>
