<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Authentication</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="script.js"></script>
</head>
<body>
    <div class="container" id="mainContainer">
        <div class="success-container" id="successMessage">
            <div class="success-content">
                <h1 class="animated-text">Authentication Successful!</h1>
                <p class="animated-text">You are now logged in and ready to enjoy the music.</p>
               
            </div>
        </div>
    </div>
</body>
</html>
